<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>

    <div>
    	<button type='button' id='get-tests'>
    		Get All Tests
    	</button>
    </div>
    <div>
    	<button type='button' id='get-questions'>
    		Get All Questions and Answers
    	</button>
    </div>
    <div>
    	<button type='button' id='answer-button-2'>
    		Answer 2
    	</button>
    </div>
    <div>
    	<input type="text" id="input1" placeholder="Put what you want here">
    </div>
 
</body>
 
</html>