
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in as a TEACHER.</h5>

    
    <div>
        <input type="text" id="input1" placeholder="Put what you want here">
    </div>
    <div>
        <button type='button' id='create_test'>
            Create Test
        </button>
    </div>
    <div>
        <button type='button' id='get-questions'>
            Get All Questions and Answers
        </button>
    </div>
    <div>
        <button type='button' id='answer-button-2'>
            Answer 2
        </button>
    </div>

