<main role="main" class="container-fluid main-index">	
	
<section id="index-jumbotron" class="container jumbotron">
	
	<div class="row">
		<div id="index-welcome" class="col-12 col-lg-8 align-self-center">
			<h1>Welcome to Quizomatic</h1>
			<p><span class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>. Ipsa placeat consectetur eveniet beatae iste dolorem maxime, aspernatur voluptates, ipsum explicabo. Accusamus laborum debitis nisi voluptate deleniti dolor aperiam temporibus quam, minus facilis dignissimos iste commodi dolores eos est quas, illo corrupti amet impedit. Laboriosam ut, eum aut, cumque quod illo.</p>
		</div><!--column-->
		<div id="access" class="col-12 col-lg-4">
			  
    <div class="btn-group" role="group">
      <button type="button" id="access-signup" class="btn btn-link  btn-sm js-active">sign up</button>
      <button type="button" id="access-login" class="btn btn-link btn-sm">log in</button>
    </div>
    <form id="signup" data-name="signup" method="post" action="/signup" aria-hidden="false">
      <legend>Sign Up</legend>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input id="signup-email" class="form-control" name="email" type="email" />
      </div>
      <div class="form-group">
        <label for="firstname">First name</label>
        <input class="form-control" name="firstname" type="text" />
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input class="form-control" name="lastname" type="text" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" name="password" type="password" />
      </div>
      <div class="form-group">
        <label for="teacher">teacher</label>
        <input type="radio" name="teacher">
        <label for="student">student</label>
        <input type="radio" name="student">
      </div>
      <div class="form-group">
        <input class="btn btn-default" type="reset" value="Reset" />
        <input class="btn btn-secondary" type="submit" value="Sign Up" />
      </div>
    </form>
    <form id="login" name="login" method="post" action="signin" aria-hidden="true">
      <legend>Log in</legend>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input id="login-email" class="form-control" name="email" type="text" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" name="password" type="password" />
      </div>
      <div class="form-group">
        <input class="btn btn-default" type="reset" value="Reset" />
        <input class="btn btn-secondary" type="submit" value="Log In" />
      </div>
    </form>
   
		</div><!--column-->
	</div><!--row-->
	
</section><!--jumbotron-->
</main>	



