<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Quizomatic assessment engine">
<meta name="author" content="JT, Matt, Oi, and Dan">
<!--<link rel="icon" href="../../../../favicon.ico">-->
<title>{{ title }}</title>
<!--bootstrap 4-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!--custom css-->
<link rel="stylesheet" href="/assets/css/custom.css">
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<header>
  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container"> <a class="navbar-brand" href="#" title="back to top"> <img src="/assets/images/brainTester.png" width="30" height="30" class="d-inline-block align-top" alt=""> Quizomatic </a> <span class="navbar-text"> {{ subtitle }} </span> <button id="lob"> Logout </button> </div>
  </nav>
</header>
	
 
	
	{{{ body }}} 
	

	
<footer class="footer">
  <div class="container text-center"> <small>&copy; 2017 Quizomatic</small> </div>
</footer>
<script type="text/javascript" src="/assets/js/{{ script }}.js"></script>
</body>
</html>