<!DOCTYPE html>
<html lang="en">
<head>
<meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport" />
<meta charset="UTF-8">
<title>{{ title }}</title>
<!--bootstrap 4-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!--custom css-->
<link rel="stylesheet" href="/assets/css/custom.css">
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<header class="container-fluid">
	<div class="container">
		<div class="row">
		<div class="col-6">
			<h1>Quizomatic</h1> 
		</div><!--column-->
		<div class="col-6">
			<h2 class="text-right"><small>{{ subtitle }}</small></h2>
		</div><!--column-->
	</div><!--row-->
		
	</header>
	
</header><!--header container-->	

<div class="container">

	{{{ body }}}


</div>




<script type="text/javascript" src="/assets/js/{{ script }}.js"></script>
</body>
</html>